<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
          <h1>User info</h1>
          <table>
            <tr>
              <th>name</th>
              <th>introduction</th>
            </tr>
            <% users.each do |user| %>
            <tr>
            </tr>
          <%= paginate users %>
          </table>
          
        </div>
      </div>
    </div>
  </div>
</section>