<%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>
<h1>Books</h1>
<table>
	
	<tr>
		<th>Title</th>
		<th>Opinion</th>
	</tr>
</table>